workflows/order_reserve.json
{
  "name": "order_reserve",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oder",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1440,
        192
      ],
      "id": "376fe55c-9082-4e78-a1dc-6b90f55cd244",
      "name": "Webhook",
      "webhookId": "d7b0cd7e-5e5a-4951-91c8-10656dd82585"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":false,\"order_id\":null,\"error\":\"MCP_RETURNED_NON_JSON\",\"details\":\"Error calling tool 'create_order': qty must be > 0\"}",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -624,
        288
      ],
      "id": "17285899-3c9c-4f32-af4d-72971a386104",
      "name": "Create Order Failed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":false,\"order_id\":null,\"error\":\"INSUFFICIENT_STOCK\",\"details\":{\"ok\":false,\"error\":\"INSUFFICIENT_STOCK\",\"current_qty\":98,\"requested_qty\":99999}}",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        192
      ],
      "id": "d9575eaa-c631-47ea-a3c2-727ea6153304",
      "name": "Reservation failed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true,\"order_id\":\"83457b6f-df5c-43f6-ad26-0bd6ccf6adfa\",\"status\":\"RESERVED\",\"message\":\"Order successfully reserved\"}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "92bddfdd-8b52-4942-80b1-bc3dd402e501",
      "name": "Order Reserved"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f181b00-df31-4e42-9ba0-fc5abe8311f5",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "a580bb6d-8c84-42eb-af5f-120544359059",
      "name": "Reservation OK?"
    },
    {
      "parameters": {
        "jsCode": "function extractMcpPayload(itemJson) {\n  const t = itemJson?.content?.[0]?.text;\n\n  // Caso A: ya es objeto (tu caso)\n  if (t && typeof t === 'object') return t;\n\n  // Caso B: viene como string JSON\n  if (typeof t === 'string') {\n    try { return JSON.parse(t); }\n    catch (e) { return { ok: false, error: 'MCP_RETURNED_NON_JSON', details: t }; }\n  }\n\n  // Caso C: el nodo falló y n8n mete error en otro sitio\n  if (itemJson?.error) return { ok: false, error: 'MCP_NODE_ERROR', details: itemJson.error };\n\n  // Caso D: fallback\n  return itemJson;\n}\n\nreturn items.map(item => {\n  const payload = extractMcpPayload(item.json);\n\n  // devolvemos SOLO el payload plano\n  return { json: payload };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        96
      ],
      "id": "f7052f1e-1bfe-48b1-a3c1-22546a5e3238",
      "name": "Normalize Reserve Result"
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8000/mcp",
        "authentication": "bearerAuth",
        "tool": {
          "__rl": true,
          "value": "reserve_for_order",
          "mode": "list",
          "cachedResultName": "reserve_for_order"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "defaultMatch": false,
              "required": true,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        -624,
        96
      ],
      "id": "8344aa51-0bf0-4e2a-bd55-55ca3331ea4a",
      "name": "Reserve For Order",
      "credentials": {
        "httpBearerAuth": {
          "id": "LBTagOM1ByNaqkkF",
          "name": "mcp-backend-bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c976074-4171-40c3-bfdd-b35698284cff",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -832,
        192
      ],
      "id": "89f06159-5e75-4d71-8535-ff56fb8c8975",
      "name": "Order Created?"
    },
    {
      "parameters": {
        "jsCode": "function extractMcpPayload(itemJson) {\n  const t = itemJson?.content?.[0]?.text;\n\n  // Caso A: ya es objeto (tu caso)\n  if (t && typeof t === 'object') return t;\n\n  // Caso B: viene como string JSON\n  if (typeof t === 'string') {\n    try { return JSON.parse(t); }\n    catch (e) { return { ok: false, error: 'MCP_RETURNED_NON_JSON', details: t }; }\n  }\n\n  // Caso C: el nodo falló y n8n mete error en otro sitio\n  if (itemJson?.error) return { ok: false, error: 'MCP_NODE_ERROR', details: itemJson.error };\n\n  // Caso D: fallback\n  return itemJson;\n}\n\nreturn items.map(item => {\n  const payload = extractMcpPayload(item.json);\n\n  // devolvemos SOLO el payload plano\n  return { json: payload };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        192
      ],
      "id": "975afd35-8251-4936-a11d-efd4d333fbda",
      "name": "Normalize Create Order Result"
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8000/mcp",
        "authentication": "bearerAuth",
        "tool": {
          "__rl": true,
          "value": "create_order",
          "mode": "list",
          "cachedResultName": "create_order"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "sku": "={{ $json.body.sku }}",
            "qty": "={{ $json.body.qty }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sku",
              "displayName": "sku",
              "defaultMatch": false,
              "required": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "qty",
              "displayName": "qty",
              "defaultMatch": false,
              "required": true,
              "display": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        -1248,
        192
      ],
      "id": "d2dc9c97-44e9-40a5-b145-22727eeb84a1",
      "name": "Create Order",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "LBTagOM1ByNaqkkF",
          "name": "mcp-backend-bearer"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reservation OK?": {
      "main": [
        [
          {
            "node": "Order Reserved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reservation failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Reserve Result": {
      "main": [
        [
          {
            "node": "Reservation OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reserve For Order": {
      "main": [
        [
          {
            "node": "Normalize Reserve Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Created?": {
      "main": [
        [
          {
            "node": "Reserve For Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Order Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Create Order Result": {
      "main": [
        [
          {
            "node": "Order Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order": {
      "main": [
        [
          {
            "node": "Normalize Create Order Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b626dcaa-cdff-4156-a66d-a6661f6d4b0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d24725c62d27f6935d94110b3043cac3d1cf1418962da2ae7eafef144de67ff9"
  },
  "id": "YRmKsGzy13rP-DF-A-w2Z",
  "tags": []
}