workflows/payment_callback.json
{
  "name": "payment_callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        96
      ],
      "id": "fdcce91a-a174-4cfc-801c-e639deb34de4",
      "name": "Payment",
      "webhookId": "d96b3e07-3f57-498e-ade1-febbf1695dd4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const order_id = item.json?.body?.order_id;\n  const paidRaw = item.json?.body?.paid;\n\n  // Acepta true/false boolean o \"true\"/\"false\" string\n  const paid =\n    paidRaw === true || paidRaw === 'true' ? true :\n    paidRaw === false || paidRaw === 'false' ? false :\n    null;\n\n  return {\n    json: { order_id, paid }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        96
      ],
      "id": "5b2d8471-9e1d-4447-81c6-4b464affb9e1",
      "name": "Normalize Payment Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "180c6cbe-f0da-4957-a19c-211eea36547f",
              "leftValue": "={{ $json.paid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "93c9bf4d-3357-4298-9820-75238a4a5713",
      "name": "paid?"
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8000/mcp",
        "authentication": "bearerAuth",
        "tool": {
          "__rl": true,
          "value": "mark_paid",
          "mode": "list",
          "cachedResultName": "mark_paid"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "defaultMatch": false,
              "required": true,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "16428838-2889-49bb-9458-457c336eab5c",
      "name": "Mark Paid",
      "credentials": {
        "httpBearerAuth": {
          "id": "LBTagOM1ByNaqkkF",
          "name": "mcp-backend-bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const order_id = item.json?.body?.order_id;\n  const paidRaw = item.json?.body?.paid;\n\n  // Acepta true/false boolean o \"true\"/\"false\" string\n  const paid =\n    paidRaw === true || paidRaw === 'true' ? true :\n    paidRaw === false || paidRaw === 'false' ? false :\n    null;\n\n  return {\n    json: { order_id, paid }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "af9483f7-cb1c-4888-87f8-e3f986b91c82",
      "name": "Mark Paid Result"
    },
    {
      "parameters": {
        "endpointUrl": "=http://host.docker.internal:8000/mcp",
        "authentication": "bearerAuth",
        "tool": {
          "__rl": true,
          "value": "mark_failed",
          "mode": "list",
          "cachedResultName": "mark_failed"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "defaultMatch": false,
              "required": true,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        -16,
        192
      ],
      "id": "b07af376-f9ca-495b-bf18-0680fc917bde",
      "name": "Mark Failed",
      "credentials": {
        "httpBearerAuth": {
          "id": "LBTagOM1ByNaqkkF",
          "name": "mcp-backend-bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8000/mcp",
        "authentication": "bearerAuth",
        "tool": {
          "__rl": true,
          "value": "release_stock",
          "mode": "list",
          "cachedResultName": "release_stock"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "defaultMatch": false,
              "required": true,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "0bf26d51-4623-437d-89f2-748081f3c9a8",
      "name": "Release Stock",
      "credentials": {
        "httpBearerAuth": {
          "id": "LBTagOM1ByNaqkkF",
          "name": "mcp-backend-bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const order_id = item.json?.body?.order_id;\n  const paidRaw = item.json?.body?.paid;\n\n  // Acepta true/false boolean o \"true\"/\"false\" string\n  const paid =\n    paidRaw === true || paidRaw === 'true' ? true :\n    paidRaw === false || paidRaw === 'false' ? false :\n    null;\n\n  return {\n    json: { order_id, paid }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        192
      ],
      "id": "67a2038e-ce52-41a7-9a1d-23eee1204677",
      "name": "Normalize Failed Result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"status\":\"FAILED\"}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        192
      ],
      "id": "8b3ed31d-ceac-4650-b572-11795c4fdd0d",
      "name": "Payment failed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"status\":\"PAID\"}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "56340fd8-2e80-4e0d-b86a-d622eee82032",
      "name": "Payment Processed"
    }
  ],
  "pinData": {},
  "connections": {
    "Payment": {
      "main": [
        [
          {
            "node": "Normalize Payment Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payment Input": {
      "main": [
        [
          {
            "node": "paid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paid?": {
      "main": [
        [
          {
            "node": "Mark Paid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Paid": {
      "main": [
        [
          {
            "node": "Mark Paid Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Paid Result": {
      "main": [
        [
          {
            "node": "Payment Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Failed": {
      "main": [
        [
          {
            "node": "Release Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Stock": {
      "main": [
        [
          {
            "node": "Normalize Failed Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Failed Result": {
      "main": [
        [
          {
            "node": "Payment failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "68b916c2-b652-46c6-9697-5dc2f0b6b028",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d24725c62d27f6935d94110b3043cac3d1cf1418962da2ae7eafef144de67ff9"
  },
  "id": "swA3y2au6HFIzT-GiPX11",
  "tags": []
}